.wrapper {
    width: 100vw;
    box-sizing: border-box;
}

.where-am-i {
    width: 69%;
    border: 1px solid red;
    box-sizing: border-box;
    display: inline-block;
}

.book-title {
    border: 1px solid green;
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
}

.country-option,
.icon,
.word {
    display: inline;
}